# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Logs
logs/
*.log

# Python cache
.pytest_cache/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# OS Files
Thumbs.db
.DS_Store