{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">
☁ Azure Resource Dashboard
</h2>

<div class="row">

<div class="col-md-3 mb-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>Virtual Machines</h5>

<h2>{{ resources.virtual_machines }}</h2>

</div>

</div>

</div>

<div class="col-md-3 mb-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>AKS Clusters</h5>

<h2>{{ resources.aks_clusters }}</h2>

</div>

</div>

</div>

<div class="col-md-3 mb-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>Storage Accounts</h5>

<h2>{{ resources.storage_accounts }}</h2>

</div>

</div>

</div>

<div class="col-md-3 mb-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>PostgreSQL</h5>

<h2>{{ resources.postgres_servers }}</h2>

</div>

</div>

</div>

<div class="col-md-3 mb-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>Key Vaults</h5>

<h2>{{ resources.key_vaults }}</h2>

</div>

</div>

</div>

<div class="col-md-3 mb-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>App Gateway</h5>

<h2>{{ resources.app_gateways }}</h2>

</div>

</div>

</div>

<div class="col-md-3 mb-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>Load Balancer</h5>

<h2>{{ resources.load_balancers }}</h2>

</div>

</div>

</div>

<div class="col-md-3 mb-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>Virtual Networks</h5>

<h2>{{ resources.virtual_networks }}</h2>

</div>

</div>

</div>

</div>

{% endblock %}