<!DOCTYPE html>
<html>

<head>

    <title>CloudOps Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="container-fluid">

    <span class="navbar-brand">
        ☁️ CloudOps Portal
    </span>

    <span class="text-white">
        Welcome, <strong>{{ username }}</strong>
    </span>

</div>
    </div>
</nav>

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body text-center">

            <h1>🎉 Login Successful</h1>

            <h4>Welcome to CloudOps Portal</h4>

            <hr>

            <div class="row mt-4">

                <div class="col-md-4">
                    <div class="card border-primary">
                        <div class="card-body">
                            <h5>Servers</h5>
                            <h2>0</h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card border-success">
                        <div class="card-body">
                            <h5>Incidents</h5>
                            <h2>0</h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card border-warning">
                        <div class="card-body">
                            <h5>Cloud Resources</h5>
                            <h2>0</h2>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

</body>

</html>