{% extends "base.html" %}

{% block content %}

<div class="row">

<div class="col-md-3">

<div class="card shadow text-center">

<div class="card-body">

<h5>Total Servers</h5>

<h2>{{ total_servers }}</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow text-center">

<div class="card-body">

<h5>Linux</h5>

<h2>{{ linux_servers }}</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow text-center">

<div class="card-body">

<h5>Windows</h5>

<h2>{{ windows_servers }}</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow text-center">

<div class="card-body">

<h5>Running</h5>

<h2>{{ running_servers }}</h2>

</div>

</div>

</div>

</div>

<br>

<div class="card shadow">

<div class="card-header bg-primary text-white">

Recent Servers

</div>

<div class="card-body">

<table class="table">

<thead>

<tr>

<th>Name</th>

<th>Environment</th>

<th>Status</th>

</tr>

</thead>

<tbody>

{% for server in recent_servers %}

<tr>

<td>{{ server.server_name }}</td>

<td>{{ server.environment }}</td>

<td>

<span class="badge bg-success">

{{ server.status }}

</span>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

{% endblock %}